<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body class="uk-flex uk-flex-column">
<% include partials/header.ejs %>
<main>
    <section class="uk-section uk-section-small uk-section-secondary">
        <h2 class="uk-heading-primary uk-heading-bullet uk-text-center">Registered Profiles</h2>
    </section>
    <p><%= students['name'] %></p>
    <div class="uk-flex uk-container uk-flex-around uk-flex-wrap">
        <% for(var student in students){ %>
        <div class="uk-card uk-card-default uk-card-body uk-animation-fade uk-box-shadow-bottom">
            <div class="uk-card-header">
                <h4 class="uk-card-title">Name: <%= students[student].name %></h4>
            </div>
            <p>Department: <%= students[student].department %></p>
            <p>Sex: <%= students[student].gender %></p>
            <div class="uk-card-footer">
                <div class="uk-button-group">
                    <button class="uk-button uk-button-primary edit" id=<%= students[student]._id %>>Edit Details
                    </button>
                    <button class="uk-button uk-button-danger delete" id=<%= students[student]._id %>>Remove</button>
                </div>
            </div>
        </div>
        <% } %>
    </div>

    <!--Modal For Viewing More-->
    <div class="uk-modal" id="modal-full">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-outside" type="button" uk-close></button>
            <div class="uk-modal-header uk-background-secondary uk-light">
                <h2 class="uk-modal-title uk-heading-line uk-text-center name"></h2>
            </div>
            <div class="uk-modal-body">
                <section class="uk-section uk-section-muted uk-margin-remove uk-padding-remove">
                    <p class="uk-label uk-margin-remove uk-label-success">Date Of Birth</p>
                    <p class="dob"></p>
                    <p class="uk-label uk-margin-remove uk-label-success">Gender</p>
                    <p class="gender"></p>
                </section>
                <div class="uk-divider-icon"></div>
                <section class="uk-section uk-section-muted uk-margin-remove uk-padding-remove">
                    <p class="uk-label uk-margin-remove uk-label-success">Phone number</p>
                    <p class="phone"></p>
                    <p class="uk-label uk-margin-remove uk-label-success">Email</p>
                    <p class="email"></p>
                </section>
            </div>
            <div class="uk-modal-footer">
                <button class="uk-modal-close uk-button uk-button-secondary" type="button">Close</button>
            </div>
        </div>

    </div>
</main>
<% include partials/footer.ejs %>
</body>
</html>
